body{
    background-color: lightgray;
}

.main{
    height: 300px;
    width: 290px;
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey;
    position: relative;
    top: 150px;
}


.image{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 20px;
}

h2{
    font-size: 25px;
}

p{
    color: grey;
    font-weight: 300;
}

.links{
    font-size: 17px;
    display: flex;
    justify-content: space-around;
}

a{
    color: rgb(0, 129, 180);
}